/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #047857, #10b981);
    --background: 173 99.7% 98.48%;
    --foreground: 173 9.399999999999999% 0.96%;

    --muted: 173 9.399999999999999% 92.4%;
    --muted-foreground: 173 4.699999999999999% 42.4%;

    --popover: 173 14.800000000000011% 92.4%;
    --popover-foreground: 173 9.399999999999999% 1.2%;

    --card: 173 14.800000000000011% 92.4%;
    --card-foreground: 173 9.399999999999999% 1.2%;

    --border: 173 14.399999999999999% 89.96%;
    --input: 173 14.399999999999999% 89.96%;

    --primary: 173 94% 24%;
    --primary-foreground: 173 1.88% 92.4%;

    --secondary: 173 4.699999999999999% 96.2%;
    --secondary-foreground: 173 6.64% 12.4%;

    --accent: 173 4.699999999999999% 96.2%;
    --accent-foreground: 173 6.64% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 173 94% 24%;

    --radius: 0.5rem;

    --sidebar-background: 176 61% 19%; /* teal-700 (gelap) */
    --sidebar-foreground: 166 76% 97%; /* teal-50 (terang) */

    /* Primary Colors for Buttons or Active States */
    --sidebar-primary: 173 80% 40%; /* teal-500 */
    --sidebar-primary-foreground: 166 76% 97%; /* teal-50 */

    /* Accent Colors for Highlights */
    --sidebar-accent: 179 84% 10%; /* teal-100 */
    --sidebar-accent-foreground: 166 76% 97%; /* teal-700 */

    /* Border and Ring */
    --sidebar-border: 161 94% 30%; /* teal-600 */
    --sidebar-ring: 173 80% 40%; /* teal-500 */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
